body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f9f9f9;
}

.chart-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
    width: 95%;
    max-width: 1600px;
}

.chart-container>div {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
}

#barChart,
#disper,
#heatmap {
    height: auto;
    min-height: 400px;
    max-height: 700px;
<<<<<<< HEAD
}
#tooltip {
    position: absolute;
    visibility: hidden;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 5px;
    border-radius: 3px;
    font-size: 12px;
    pointer-events: none;
    max-width: 300px;
    transition: visibility 0.1s ease-in-out;
  }

  
=======
}
>>>>>>> 544cbf8339812521dcafa050b934fafc747007ef
